<!--Redirected site when user submits their info.-->

<!DOCTYPE html>
<!--Sets language to English-->
<html lang="en">
    <!--Title of tab-->
    <title>Data submitted</title>
    <head>
        <!--Links to CSS file and sets as a stylesheet-->
        <link href="../static/main.css" rel = "stylesheet">
    </head>
    <body>
        <!--Div class separates different sections of webpage. Easier to
        refer to specific sections in CSS file.-->
        <div class="container">
            <p>Thank you for entering your data. <br>
                Please check your email for the heigh statistics. 
            </p>
        </div>
    </body>
</html>